# MBA em Ciência de Dados
# Técnicas Avançadas de Captura e Tratamento de Dados

Moacir Antonelli Ponti

Luis Gustavo Nonato

CeMEAI - ICMC/USP São Carlos

---

1. Dados estruturados e Nao Estruturados e problemas típicos em bases de dados (Moacir)

2. Tratamento e limpeza de bases de dados (Moacir)

3. Coleta e Preparação de atributos (Moacir)

4. Mudança de representação de dados: (Gustavo)

5. Dados não estruturados: Extraindo Textos (Gustavo)

6. "Estruturando Textos": (Gustavo)

7. Extração de características de sinais e imagens (Moacir)

8. Web Scraping (Gustavo)


<img src="./imagens/pipeline_tactd.png" width=500>

In [1]:
estado_civil = ['solteiro', 'casado', 'divorciado', 'viuvo']

In [2]:
estado_civil[0]

'solteiro'

In [3]:
estado_civil[1]

'casado'

In [5]:
mapa_ec = {'solteiro':0, 'casado':1, 'divorciado':2, 'viuvo':3}

In [6]:
estado_civil = ['solteiro', 'casado', 'divorciado', 'viuvo', 'viuvo', 'solteiro']

In [7]:
print(estado_civil)

['solteiro', 'casado', 'divorciado', 'viuvo', 'viuvo', 'solteiro']

In [8]:
estado_civil_num = [mapa_ec[i] for i in estado_civil]

In [9]:
estado_civil_num

[0, 1, 2, 3, 3, 0]

In [10]:
estado_civil_num[0] - estado_civil_num[1]

-1

In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('dados/TACTD-01-DadosAula1.csv')

In [14]:
df.head(3)

  Sex  Weight  Gestational age  Month    Year        City
0   F  3490.0               38     12  2016.0  São Carlos
1   M  3650.0               39     12  2016.0  São Carlos
2   M  2740.0               34     12  2016.0  São Carlos

In [19]:
for var in df.columns:
    print(var)
    print('Dados faltantes: ', np.sum(df[var].isna()))

Sex
Dados faltantes:  1
Weight
Dados faltantes:  1
Gestational age
Dados faltantes:  0
Month
Dados faltantes:  0
Year
Dados faltantes:  1
City
Dados faltantes:  0

In [22]:
for var in df.columns:
    print(var)
    print(df[var].value_counts())

Sex
F    52
M    18
P     1
Name: Sex, dtype: int64
Weight
3460.0    4
3380.0    3
3490.0    2
3720.0    2
3230.0    2
3580.0    2
3120.0    2
3540.0    2
4000.0    2
3730.0    2
3600.0    2
3050.0    2
2800.0    2
3100.0    2
3470.0    2
3220.0    1
3900.0    1
4300.0    1
4100.0    1
4900.0    1
2940.0    1
3280.0    1
4150.0    1
3800.0    1
3640.0    1
3700.0    1
2880.0    1
3750.0    1
2920.0    1
3880.0    1
3480.0    1
3690.0    1
2500.0    1
3610.0    1
2740.0    1
3820.0    1
2790.0    1
1850.0    1
3270.0    1
3200.0    1
3550.0    1
2780.0    1
2200.0    1
3790.0    1
3680.0    1
3570.0    1
3980.0    1
3300.0    1
3860.0    1
3130.0    1
3650.0    1
2950.0    1
3450.0    1
Name: Weight, dtype: int64
Gestational age
38    15
37    12
40    11
36     9
39     7
35     5
41     3
33     3
42     3
34     2
43     1
32     1
Name: Gestational age, dtype: int64
Month
1     15
12    12
2     12
5     12
3     11
4     10
Name: Month, dtype: int64
Year
2017.0     58
2016.0     12
22017.0     1
Name: Year, dtype: int64
City
São Carlos    72
Name: City, dtype: int64

In [23]:
df.shape

(72, 6)

EAST - OpenCV

OCR - Optical Character Recognition

ETL - Extract, Transform, Load