# MBA em Ciência de Dados
## Técnicas Avançadas de Captura e Tratamento de Dados


### <span style="color:darkred">Coleta de dados e preparação de atributos</span>


## <span style="color:darkred">Avaliação</span>

Moacir Antonelli Ponti

CeMEAI - ICMC/USP São Carlos

---
#### <font color='red'> As respostas devem ser fornecidas no Moodle. O notebook é apenas para a implementação dos códigos que fornecerão as respostas</font>

---

Antes de iniciar, acesse o portal : https://dados.educacao.sp.gov.br/dataset/fluxo-escolar-por-escola

Procure pelo arquivo CSV relativo a "Fluxo Escolar 2019 - por escola", arquivo `FLUXO_ESCOLAR_ESCOLA.csv`

O fluxo escolar é medido pela taxa média de aprovação em cada etapa da escolarização, sendo elas as séries iniciais e séries finais do Ensino Fundamental e Ensino Médio, coletadas pelo Censo Escolar.

Para saber mais sobre o funcionamento do Fluxo Escolar, visite a página https://dados.educacao.sp.gov.br/story/fluxo

As colunas possuem significado de acordo com o "dicionário de dados" disponível ao visualizar o arquivo no referido site. As colunas são rotuladas da seguinte forma:
- Ano: para o qual foi realizado o cálculo do fluxo
- CD_DIRETORIA: Código da diretoria de ensino
- NM_DIRETORIA: Nome da diretoria de ensino
- NM_MUNICIPIO: Nome do Município
- CD_REDE_ENSINO: Código da Rede de Ensino (1:Estadual)
- CD_ESCOLA: Código da Escola
- NM_COMPLETO_ESCOLA: Nome Completo da Escola
- CD_TP_IDENTIFICADOR: Código do Tipo de Escola
- APR_1: Porcentagem de Alunos Aprovados no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- REP_1: Porcentagem de Alunos Reprovados no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- ABA_1: Porcentagem de Alunos com Abandono no Ensino Fundamental - Anos Iniciais no ensino fundamental de 9 anos
- REP_2: Porcentagem de Alunos Reprovados no Ensino Fundamental - Anos Finais no ensino fundamental de 9 anos
- ABA_2: Porcentagem de Alunos com Abando no Ensino Fundamental - Anos Finais no ensino fundamental de 9 anos
- APR_3: Porcentagem de Alunos Aprovados no Ensino Médio
- REP_3: Porcentagem de Alunos Reprovados no Ensino Médio
- ABA_3: Porcentagem de Alunos com Abandono no Ensino Médio

A cada questão, recarregue a base de dados para que não haja dependência entre questões.

In [2]:
# carregando as bibliotecas necessárias
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# carregando dados
dc = pd.read_csv("./dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')
ncols = dc.shape[1]
print("atributos: ", ncols)
print("linhas: ", dc.shape[0])

atributos:  16
linhas:  5220

### Questão 1)
 
Considere os seguintes problemas e a natureza dos seus respectivos dados:

I - Uma base de dados contendo uma amostra aleatória de 25% dos produtos cadastrados no sistema de uma determinada empresa, com a qual se pretende realizar uma análise relativa aos atributos dos produtos e seu preço<br>
II - O histórico contendo quantidades de moderações realizadas em avaliações de produtos por categoria, coletadas diariamente durante um ano numa plataforma de e-commerce<br>
III - Uma base de dados pública já coletada com informações demográficas de todas as capitais brasileiras, com a qual se intenciona obter um modelo para realizar inferência em qualquer outra cidade do Brasil.<br>

Podemos utilizar métodos que assumam dados do tipo i.i.d. (independente e identicamente distribuídos) e garantir que esses métodos irão obter resultados e conclusões válidas em quais dos casos?

(a) I<br>
(b) I e II<br>
(c) II <br>
(d) II e III<br>

In [4]:
## RESPOSTA = C

### Questão 2)
 
Compute a média das variáveis ABA_1, ABA_2 e ABA_3 e adicione essa média como um novo atributo ABA_MED à base de dados. Substitua por nulo (`nan`) os valores onde 'ABA_MED' seja igual a 0. Realize a **discretização** da variável 'ABA_MED' utilizando:
1. o método dos quantis, utilizando 4 intervalos alvo
2. o método dos intervalos, utilizando os seguintes intervalos alvo: (0, 5] (5, 10] (10, 50] (50, max(ABA_MED)],
em que max(ABA_MED) é o maior valor desse atributo

Use o método qcut() para o item 1 e cut() para o item 2

Adicione essas novas variáveis discretizadas no dataframe com os nomes 'ABA_Q' (quantis) e 'ABA_I' (intervalos)

Qual é a quantidade de dados (frequências dos valores discretizados) na base após a discretização, relativos ao primeiro intervalo (com os menores valores) e ao último intervalo (com os maiores valores) para, respectivamente, ABA_Q e ABA_I?

(a) ABA_Q: primeiro -0.004, ultimo 53.717. ABA_I: primeiro 0.0, último 53.717<br>
(b) ABA_Q: primeiro 0.236, ultimo 53.717. ABA_I: primeiro 0.0, último 50.0<br>
(c) ABA_Q: primeiro 748, ultimo 742. ABA_I: primeiro 2838, último 1<br>
(d) ABA_Q: primeiro 737, ultimo 748. ABA_I: primeiro 2838, último 1<br>

In [61]:
# RESPOSTA = C

In [51]:
dc = pd.read_csv("./dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')
dc.head()

,ANO,NM_DIRETORIA,NM_MUNICIPIO,CD_REDE_ENSINO,CD_ESCOLA,NM_COMPLETO_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3
0,2019,BARRETOS,BARRETOS,1,22445,AYMORE DO BRASIL PROFESSOR,8,0.0,0.0,0.0,99.67,0.33,0.0,0.0,0.0,0.0
1,2019,BARRETOS,BARRETOS,1,22457,MACEDO SOARES EMBAIXADOR,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0
2,2019,BARRETOS,BARRETOS,1,22469,ANTONIO OLYMPIO DOUTOR,8,0.0,0.0,0.0,100.00,0.00,0.0,100.0,0.0,0.0
3,2019,BARRETOS,BARRETOS,1,36894,VALOIS SCORTECCI,8,0.0,0.0,0.0,100.00,0.00,0.0,0.0,0.0,0.0
4,2019,BARRETOS,BARRETOS,1,579889,MARIA HELENA SCANNAVINO,8,0.0,0.0,0.0,0.00,0.00,0.0,100.0,0.0,0.0

In [52]:
# sua solucao aqui
dc['ABA_MED'] = dc.filter(like = 'ABA').apply(lambda x: x.mean(), axis = 1) #calculando a media das colunas
dc.loc[dc['ABA_MED']==0,'ABA_MED'] = np.nan  #transformando 0 in NaN
dc.shape

(5220, 17)

In [53]:
# discretizando com quantil
aba_med_qdisc =  pd.qcut(dc['ABA_MED'], 4)
dc.insert(dc.shape[1], 'ABA_Q', aba_med_qdisc)
dc

,ANO,NM_DIRETORIA,NM_MUNICIPIO,CD_REDE_ENSINO,CD_ESCOLA,NM_COMPLETO_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3,ABA_MED,ABA_Q
0,2019,BARRETOS,BARRETOS,1,22445,AYMORE DO BRASIL PROFESSOR,8,0.0,0.0,0.0,99.67,0.33,0.00,0.00,0.00,0.00,NaN,NaN
1,2019,BARRETOS,BARRETOS,1,22457,MACEDO SOARES EMBAIXADOR,8,0.0,0.0,0.0,0.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN
2,2019,BARRETOS,BARRETOS,1,22469,ANTONIO OLYMPIO DOUTOR,8,0.0,0.0,0.0,100.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN
3,2019,BARRETOS,BARRETOS,1,36894,VALOIS SCORTECCI,8,0.0,0.0,0.0,100.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN
4,2019,BARRETOS,BARRETOS,1,579889,MARIA HELENA SCANNAVINO,8,0.0,0.0,0.0,0.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,2019,VOTORANTIM,PILAR DO SUL,1,925937,MARIA APPARECIDA MENDES SILVA LACERDA PROFESSORA,8,0.0,0.0,0.0,99.25,0.38,0.37,0.00,0.00,0.00,0.123333,"(-0.0043300000000000005, 0.263]"
5216,2019,VOTORANTIM,SALTO DE PIRAPORA,1,16846,AFONSO VERGUEIRO DOUTOR,8,0.0,0.0,0.0,99.40,0.60,0.00,86.44,12.50,1.06,0.353333,"(0.263, 0.82]"
5217,2019,VOTORANTIM,SALTO DE PIRAPORA,1,16861,ANNA CUEVAS GUIMARAES,8,0.0,0.0,0.0,98.42,0.32,1.26,0.00,0.00,0.00,0.420000,"(0.263, 0.82]"
5218,2019,VOTORANTIM,SALTO DE PIRAPORA,1,903310,BENEDICTO LEME VIEIRA NETO PROFESSOR,8,0.0,0.0,0.0,96.40,1.60,2.00,90.34,3.45,6.21,2.736667,"(1.979, 53.717]"
5219,2019,VOTORANTIM,SALTO DE PIRAPORA,1,913741,BENEDICTO RODRIGUES PROFESSOR,8,0.0,0.0,0.0,100.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN

In [54]:
# discretizando com intervalo
atts = 'ABA_MED'
max_aba_med = np.nanmax(dc[atts].unique())

# definindo intervalos
# (0, 5] (5, 10] (10, 50] (50, max(ABA_MED)]
interv = [0, 5, 10, 50, max_aba_med]

aba_med_disc =  pd.cut(dc[atts], bins=interv)
dc.insert(dc.shape[1], 'ABA_I', aba_med_disc)

dc

,ANO,NM_DIRETORIA,NM_MUNICIPIO,CD_REDE_ENSINO,CD_ESCOLA,NM_COMPLETO_ESCOLA,CD_TP_IDENTIFICADOR,APR_1,REP_1,ABA_1,APR_2,REP_2,ABA_2,APR_3,REP_3,ABA_3,ABA_MED,ABA_Q,ABA_I
0,2019,BARRETOS,BARRETOS,1,22445,AYMORE DO BRASIL PROFESSOR,8,0.0,0.0,0.0,99.67,0.33,0.00,0.00,0.00,0.00,NaN,NaN,NaN
1,2019,BARRETOS,BARRETOS,1,22457,MACEDO SOARES EMBAIXADOR,8,0.0,0.0,0.0,0.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN,NaN
2,2019,BARRETOS,BARRETOS,1,22469,ANTONIO OLYMPIO DOUTOR,8,0.0,0.0,0.0,100.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN,NaN
3,2019,BARRETOS,BARRETOS,1,36894,VALOIS SCORTECCI,8,0.0,0.0,0.0,100.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN
4,2019,BARRETOS,BARRETOS,1,579889,MARIA HELENA SCANNAVINO,8,0.0,0.0,0.0,0.00,0.00,0.00,100.00,0.00,0.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,2019,VOTORANTIM,PILAR DO SUL,1,925937,MARIA APPARECIDA MENDES SILVA LACERDA PROFESSORA,8,0.0,0.0,0.0,99.25,0.38,0.37,0.00,0.00,0.00,0.123333,"(-0.0043300000000000005, 0.263]","(0.0, 5.0]"
5216,2019,VOTORANTIM,SALTO DE PIRAPORA,1,16846,AFONSO VERGUEIRO DOUTOR,8,0.0,0.0,0.0,99.40,0.60,0.00,86.44,12.50,1.06,0.353333,"(0.263, 0.82]","(0.0, 5.0]"
5217,2019,VOTORANTIM,SALTO DE PIRAPORA,1,16861,ANNA CUEVAS GUIMARAES,8,0.0,0.0,0.0,98.42,0.32,1.26,0.00,0.00,0.00,0.420000,"(0.263, 0.82]","(0.0, 5.0]"
5218,2019,VOTORANTIM,SALTO DE PIRAPORA,1,903310,BENEDICTO LEME VIEIRA NETO PROFESSOR,8,0.0,0.0,0.0,96.40,1.60,2.00,90.34,3.45,6.21,2.736667,"(1.979, 53.717]","(0.0, 5.0]"
5219,2019,VOTORANTIM,SALTO DE PIRAPORA,1,913741,BENEDICTO RODRIGUES PROFESSOR,8,0.0,0.0,0.0,100.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN

In [60]:
print('DISCRETIZAÇÃO COM QUARTIL = \n',dc['ABA_Q'].value_counts().sort_index())
print('\n')
print('DISCRETIZAÇÃO COM NTERVALO = \n',dc['ABA_I'].value_counts().sort_index())

DISCRETIZAÇÃO COM QUARTIL =
 (-0.0043300000000000005, 0.263]    748
(0.263, 0.82]                      737
(0.82, 1.979]                      739
(1.979, 53.717]                    742
Name: ABA_Q, dtype: int64


DISCRETIZAÇÃO COM NTERVALO =
 (0.0, 5.0]        2838
(5.0, 10.0]        113
(10.0, 50.0]         3
(50.0, 53.717]       1
Name: ABA_I, dtype: int64

### Questão 3)

Normalize a variável APR_3 utilizando dois métodos:
1. normalização robusta
2. normalização min-max para o intervalo 0-100

Para isso, codifique funções que recebam uma coluna por parâmetro e retornem um atributo já normalizado

Aplique as funções criando novas variáveis com os atributos normalizados: APR_3_r e ABA_3_mm

Após a normalização, quais os valores de média, desvio padrão, mínimo e máximo dessas novas variáveis, arredondando para 1 casa decimal?

(a) APR_3_r: 0.0, 1.0, -0.2, 0.9; APR_3_mm: 66.4, 41.4, 0.0, 100.0<br>
(b) APR_3_r: -0.2, 0.4, -0.9, 0.1; APR_3_mm: 66.4, 41.4, 0.0, 100.0<br>
(c) APR_3_r: -0.2, 0.4, -0.9, 0.1; APR_3_mm: 0.0, 50.0, 0.0, 100.0<br>
(d) APR_3_r: 0.0, 1.0, -0.2, 0.9; APR_3_mm: 0.0, 50.0, 0.0, 100.0<br>

In [19]:
dc = pd.read_csv("./dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')

In [2]:
# sua solucao aqui

### Questão 4)
 
Transforme os atributos 'ABA_2' e 'APR_3' por meio da função da raiz quadrada. Para isso:
1. Remova todas as linhas cujos atributos possuem valor 0 em 'ABA_2'; remova ainda os que possuam valores nulos (`nan`) em 'APR_3' ou 'ABA_2'; devem restar 2034 linhas.
2. Transforme 'ABA_2' e 'APR_3' utilizando a operação da raiz quadrada no seguinte formato: seja $x$ o atributo original, obtemos a sua versão transformada,
$$x' = \sqrt{x+1}$$
e os adicione à base de dados com novos nomes, ex. 'ABA_2_S' e  'APR_3_S',
3. Calcule a correlação entre os atributos após a transformação do passo 2 (utilize o método `.corr()`)

Qual o valor obtido da correlação entre as variáveis ABA_2_S e APR_3_S, e entre as variáveis ABA_2 e APR_3, respectivamente?

(a) -0.02, -0.08<br>
(b) 0.00, 1.00<br>
(c) 0.96, 0.99<br>
(d) -0.02, -0.03<br>

In [28]:
dc = pd.read_csv("./dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')

In [3]:
# sua solucao aqui

### Questão 5)
 
Codifique a variável categórica 'NM_DIRETORIA':
* use números inteiros sequenciais, iniciados por 0 para codificar a variável em ordem alfabética, e gere um novo atributo NM_DIRETORIA_cod, por meio do uso de `cat.codes` da biblioteca `pandas`.

Observação: a intenção é que o atributo codificação tenha relação com a ordem alfabética do município. Se a intenção fosse a de posteriormente aplicar métodos que realizam comparação por distância independente da ordem alfabética, a codificação ideal seria one-hot-encoding/dummy variables.

Use a função `value_counts()` para mostrar a frequência dos códigos de NM_DIRETORIA_cod. Responda abaixo quais são os dois **valores discretos** (após codificação realizada) com a maior frequência (maior contagem):

(a) códigos 66 e 82<br>
(b) códigos 62 e 59<br>
(c) códigos 105 e 109<br>
(d) códigos 82 e 109<br>

In [33]:
dc = pd.read_csv("./dados/FLUXO_ESCOLAR_ESCOLA.csv", sep=',')

In [4]:
# sua solucao aqui