In [1]:
#instalando o módulo wget
%%capture
!pip install -q wget
#criando pasta para salvar as bases de dados
!mkdir data

In [2]:
#baixando os dados das tabelas de dimensão
import wget

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/data.csv"
wget.download(url, "data/data.csv")

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/funcionario.csv"
wget.download(url, "data/funcionario.csv")

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/equipe.csv"
wget.download(url, "data/equipe.csv")

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/cargo.csv"
wget.download(url, "data/cargo.csv")

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/cliente.csv"
wget.download(url, "data/cliente.csv")

'data/cliente.csv'

In [3]:
#baixando os dados das tabelas de fatos
url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/pagamento.csv"
wget.download(url, "data/pagamento.csv")

url = "https://raw.githubusercontent.com/GuiMuzziUSP/Data_Mart_BI_Solutions/main/negociacao.csv"
wget.download(url, "data/negociacao.csv")

'data/negociacao.csv'

In [4]:
#instalando Java Runtime Environment (JRE) versão 8
%%capture
!apt-get remove openjdk*
!apt-get update --fix-missing
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [5]:
#baixando Apache Spark versão 3.0.0
%%capture
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz && rm spark-3.0.0-bin-hadoop2.7.tgz

In [6]:
import os
#configurando a variável de ambiente JAVA_HOME
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#configurando a variável de ambiente SPARK_HOME
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

In [7]:
%%capture
#instalando o pacote findspark
!pip install -q findspark==1.4.2
#instalando o pacote pyspark
!pip install -q pyspark==3.0.0

In [8]:
#importando o módulo findspark
import findspark
#carregando a variávels SPARK_HOME na variável dinâmica PYTHONPATH
findspark.init()

In [13]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pyspark-notebook").master("local[*]").getOrCreate()

In [14]:
#criando e exibindo o DataFrame para a tabela de dimensão cargo
cargo = spark.read.csv(path="data/cargo.csv", header=True, sep=",")
cargo.show(5)

+-------+--------------------+-------------------+--------------------+-----------------------+----------+
|cargoPK|           cargoNome|cargoRegimeTrabalho|cargoJornadaTrabalho|cargoEscolaridadeMinima|cargoNivel|
+-------+--------------------+-------------------+--------------------+-----------------------+----------+
|      1|PROGRAMADOR DE SI...|         TEMPORARIO|                 20H|                  MEDIO|    JUNIOR|
|      2|PROGRAMADOR DE SI...|         TEMPORARIO|                 20H|               SUPERIOR|     PLENO|
|      3|PROGRAMADOR DE SI...|         TEMPORARIO|                 20H|                    POS|    SENIOR|
|      4|PROGRAMADOR DE SI...|         TEMPORARIO|                 40H|                  MEDIO|    JUNIOR|
|      5|PROGRAMADOR DE SI...|         TEMPORARIO|                 40H|               SUPERIOR|     PLENO|
+-------+--------------------+-------------------+--------------------+-----------------------+----------+
only showing top 5 rows

In [15]:
#criando e exibindo o DataFrame para a tabela de dimensão cliente
cliente = spark.read.csv(path="data/cliente.csv", header=True, sep=",")
cliente.show(5)

+---------+-------------------+-------------------+-------------+-----------------+------------------+-----------------+------------------+---------------+----------------+
|clientePK|clienteNomeFantasia|       clienteSetor|clienteCidade|clienteEstadoNome|clienteEstadoSigla|clienteRegiaoNome|clienteRegiaoSigla|clientePaisNome|clientePaisSigla|
+---------+-------------------+-------------------+-------------+-----------------+------------------+-----------------+------------------+---------------+----------------+
|        1|           VIA FOOD|BEBIDAS E ALIMENTOS|    SAO PAULO|        SAO PAULO|                SP|          SUDESTE|                SE|         BRASIL|              BR|
|        2|          VIA PIZZA|BEBIDAS E ALIMENTOS|    SAO PAULO|        SAO PAULO|                SP|          SUDESTE|                SE|         BRASIL|              BR|
|        3|           VIA JAPA|BEBIDAS E ALIMENTOS|    SAO PAULO|        SAO PAULO|                SP|          SUDESTE|                SE|         BRASIL|              BR|
|        4|            VIA VEG|BEBIDAS E ALIMENTOS|    SAO PAULO|        SAO PAULO|                SP|          SUDESTE|                SE|         BRASIL|              BR|
|        5|          VIA DRINK|BEBIDAS E ALIMENTOS|   SAO CARLOS|        SAO PAULO|                SP|          SUDESTE|                SE|         BRASIL|              BR|
+---------+-------------------+-------------------+-------------+-----------------+------------------+-----------------+------------------+---------------+----------------+
only showing top 5 rows

In [16]:
#criando e exibindo o DataFrame para a tabela de dimensão data
data = spark.read.csv(path="data/data.csv", header=True, sep=",") 
data.show(5)

+------+------------+-------+-------+------------+-------------+------------+-------+
|dataPK|dataCompleta|dataDia|dataMes|dataBimestre|dataTrimestre|dataSemestre|dataAno|
+------+------------+-------+-------+------------+-------------+------------+-------+
|     1|    1/1/2016|      1|      1|           1|            1|           1|   2016|
|     2|    2/1/2016|      2|      1|           1|            1|           1|   2016|
|     3|    3/1/2016|      3|      1|           1|            1|           1|   2016|
|     4|    4/1/2016|      4|      1|           1|            1|           1|   2016|
|     5|    5/1/2016|      5|      1|           1|            1|           1|   2016|
+------+------------+-------+-------+------------+-------------+------------+-------+
only showing top 5 rows

In [17]:
#criando e exibindo o DataFrame para a tabela de dimensão equipe
equipe = spark.read.csv(path="data/equipe.csv", header=True, sep=",")
equipe.show(5)

+--------+-------------+--------------------+--------------+------------------+-----------------+----------------+-----------------+--------------+---------------+
|equipePK|   equipeNome|          filialNome|  filialCidade|  filialEstadoNome|filialEstadoSigla|filialRegiaoNome|filialRegiaoSigla|filialPaisNome|filialPaisSigla|
+--------+-------------+--------------------+--------------+------------------+-----------------+----------------+-----------------+--------------+---------------+
|       1|APP - DESKTOP|SAO PAULO - AV. P...|     SAO PAULO|         SAO PAULO|               SP|         SUDESTE|               SE|        BRASIL|             BR|
|       2|APP - DESKTOP|RIO DE JANEIRO - ...|RIO DE JANEIRO|    RIO DE JANEIRO|               RJ|         SUDESTE|               SE|        BRASIL|             BR|
|       3|          WEB|SAO PAULO - AV. P...|     SAO PAULO|         SAO PAULO|               SP|         SUDESTE|               SE|        BRASIL|             BR|
|       4|          WEB|RIO DE JANEIRO - ...|RIO DE JANEIRO|    RIO DE JANEIRO|               RJ|         SUDESTE|               SE|        BRASIL|             BR|
|       5|          WEB|CAMPO GRANDE - CE...|  CAMPO GRANDE|MATO GROSSO DO SUL|               MS|    CENTRO-OESTE|               CO|        BRASIL|             BR|
+--------+-------------+--------------------+--------------+------------------+-----------------+----------------+-----------------+--------------+---------------+
only showing top 5 rows

In [18]:
#criando e exibindo o DataFrame para a tabela de fatos funcionario
funcionario = spark.read.csv(path="data/funcionario.csv", header=True, sep=",")
funcionario.show(5)

+------+-------------+-------------+--------+------------------+-----------------+-----------------+-----------------+-----------+--------------+---------------+--------------+---------------+------------+-------------+
|funcPK|funcMatricula|     funcNome|funcSexo|funcDataNascimento|funcDiaNascimento|funcMesNascimento|funcAnoNascimento| funcCidade|funcEstadoNome|funcEstadoSigla|funcRegiaoNome|funcRegiaoSigla|funcPaisNome|funcPaisSigla|
+------+-------------+-------------+--------+------------------+-----------------+-----------------+-----------------+-----------+--------------+---------------+--------------+---------------+------------+-------------+
|     1|          M-1|ALINE ALMEIDA|       F|          1/1/1990|                1|                1|             1990|  SAO PAULO|     SAO PAULO|             SP|       SUDESTE|             SE|      BRASIL|           BR|
|     2|          M-2|   ARAO ALVES|       M|          2/2/1990|                2|                2|             1990|   CAMPINAS|     SAO PAULO|             SP|       SUDESTE|             SE|      BRASIL|           BR|
|     3|          M-3| ARON ANDRADE|       M|          3/3/1990|                3|                3|             1990|     SANTOS|     SAO PAULO|             SP|       SUDESTE|             SE|      BRASIL|           BR|
|     4|          M-4|  ADA BARBOSA|       F|          4/4/1990|                4|                4|             1990|SANTO ANDRE|     SAO PAULO|             SP|       SUDESTE|             SE|      BRASIL|           BR|
|     5|          M-5|ABADE BATISTA|       M|          5/5/1990|                5|                5|             1990| PIRACICABA|     SAO PAULO|             SP|       SUDESTE|             SE|      BRASIL|           BR|
+------+-------------+-------------+--------+------------------+-----------------+-----------------+-----------------+-----------+--------------+---------------+--------------+---------------+------------+-------------+
only showing top 5 rows

In [19]:
#criando e exibindo o DataFrame para a tabela de fatos negociacao
negociacao = spark.read.csv(path="data/negociacao.csv", header=True, sep=",")
negociacao.show(5)

+--------+---------+------+--------+---------------------+
|equipePK|clientePK|dataPK| receita|quantidadeNegociacoes|
+--------+---------+------+--------+---------------------+
|       2|        9|    22|11564.75|                    1|
|       2|       24|    11| 17990.5|                    1|
|       2|       28|    21| 16335.9|                    1|
|       1|       30|    23| 8495.55|                    1|
|       2|       43|    30|24748.75|                    1|
+--------+---------+------+--------+---------------------+
only showing top 5 rows

In [20]:
#criando e exibindo o DataFrame para a tabela de fatos pagamento
pagamento = spark.read.csv(path="data/pagamento.csv", header=True, sep=",")
pagamento.show()

+------+--------+------+-------+--------+---------------------+
|funcPK|equipePK|dataPK|cargoPK| salario|quantidadeLancamentos|
+------+--------+------+-------+--------+---------------------+
|   147|       2|     5|     64| 1559.94|                    1|
|   124|       2|     5|    329| 8102.77|                    1|
|   175|       1|     5|    328| 2532.51|                    1|
|   171|       1|     5|    245|  7882.7|                    1|
|   148|       2|     5|     65| 4404.59|                    1|
|     5|       2|     5|    112| 2226.66|                    1|
|   128|       1|     5|    341| 6157.04|                    1|
|    82|       2|     5|     43| 1585.51|                    1|
|    28|       1|     5|    253| 1594.02|                    1|
|    46|       1|     5|    390| 9880.16|                    1|
|    91|       2|     5|    233|10931.47|                    1|
|   176|       2|     5|    241| 2005.49|                    1|
|   172|       1|     5|    351|14218.28|                    1|
|   155|       1|     5|    121| 2002.57|                    1|
|    19|       2|     5|    223| 1778.26|                    1|
|    94|       1|     5|    394|  2505.1|                    1|
|    26|       2|     5|    350| 9162.46|                    1|
|    55|       2|     5|    313| 3215.53|                    1|
|    29|       1|     5|     62| 4128.44|                    1|
|   181|       1|     5|    249|11082.75|                    1|
+------+--------+------+-------+--------+---------------------+
only showing top 20 rows

In [21]:
#criando as visões temporárias para as tabelas de dimensão
cargo.createOrReplaceTempView("cargo")
cliente.createOrReplaceTempView("cliente")
data.createOrReplaceTempView("data")
equipe.createOrReplaceTempView("equipe")
funcionario.createOrReplaceTempView("funcionario")

In [22]:
#criando a visão temporária para as tabelas de fatos
negociacao.createOrReplaceTempView("negociacao")
pagamento.createOrReplaceTempView("pagamento")

Exercício 7


Compare a quantidade de negociações que cada uma das equipes realizou nos anos de 2018 e 2019. Devem ser exibidas as colunas na ordem e com os nomes especificados a seguir: "NOME DA EQUIPE", "NOME DA FILIAL", "NEGOCIACOES 2018", "NEGOCIACOES 2019". Ordene as linhas exibidas pelo nome da equipe em ordem ascendente e depois pelo nome da filial em ordem ascendente. Liste as primeiras 25 linhas da resposta, sem truncamento das strings.

Dica: Considere relacionar as equipes por meio da operação drill-across.

In [54]:
query = """

with df_2018 as (
select 
n.equipePK,
sum(quantidadeNegociacoes) as sum_quantidadeNegociacao2018
from negociacao as n
left join data as d on d. dataPK = n.dataPK
where dataAno = 2018 
group by 1
)

,df_2019 as (
select 
n.equipePK,
sum(quantidadeNegociacoes) as sum_quantidadeNegociacao2019
from negociacao as n
left join data as d on d.dataPK = n.dataPK
where dataAno = 2019 
group by 1
)

--fazendo drillaccross
,df_final as(

Select 
a.*,
b.sum_quantidadeNegociacao2019
from df_2018 as a
left join df_2019 as b on b.equipePK = a.equipePK
order by 1 


)

select 
a.equipePK as `NOME DA EQUIPE`,
filialNome as `NOME DA FILIAL`,
sum_quantidadeNegociacao2018 as `NEGOCIACOES 2018`,
sum_quantidadeNegociacao2019 as `NEGOCIACOES 2019`
from df_final as a 
left join equipe as b on b.equipePK = a.equipePK 
order by 1,2

"""
spark.sql(query).show()

+--------+----------------------------+----------------------------+
|equipePK|sum_quantidadeNegociacao2018|sum_quantidadeNegociacao2019|
+--------+----------------------------+----------------------------+
|       1|                       132.0|                       135.0|
|       2|                       149.0|                       135.0|
|       3|                        76.0|                        87.0|
|       4|                        91.0|                       106.0|
|       5|                       100.0|                        95.0|
|       6|                       104.0|                       108.0|
|       7|                        99.0|                       112.0|
|       8|                        98.0|                        88.0|
+--------+----------------------------+----------------------------+

In [62]:
query = """

select 
  negociacoes2018.equipeNome `NOME DA EQUIPE`,
  negociacoes2018.filialNome `NOME DA FILIAL`,
  total2018 `NEGOCIACOES 2018`,
  total2019 `NEGOCIACOES 2019`
from (select negociacao.equipePK, equipeNome, filialNome, sum(CAST(quantidadeNegociacoes as INTEGER))as total2018
      from negociacao 
      join data on data.dataPK = negociacao.dataPK
      join equipe on equipe.equipePK = negociacao.equipePK
      where data.dataAno = 2018
      group by 1,2,3) as negociacoes2018
 JOIN 
    (
      select negociacao.equipePK, equipeNome, filialNome, sum(CAST(quantidadeNegociacoes as INTEGER))as total2019
      from negociacao 
      join data on data.dataPK = negociacao.dataPK
      join equipe on equipe.equipePK = negociacao.equipePK
      where data.dataAno = 2019
      group by 1,2,3
      )   as negociacoes2019 on negociacoes2018.equipePK = negociacoes2019.equipePK

      order by negociacoes2018.equipeNome, negociacoes2018.filialNome



"""
spark.sql(query).show()

+--------------+--------------------+----------------+----------------+
|NOME DA EQUIPE|      NOME DA FILIAL|NEGOCIACOES 2018|NEGOCIACOES 2019|
+--------------+--------------------+----------------+----------------+
| APP - DESKTOP|RIO DE JANEIRO - ...|             149|             135|
| APP - DESKTOP|SAO PAULO - AV. P...|             132|             135|
|  APP - MOBILE|CAMPO GRANDE - CE...|              98|              88|
|  APP - MOBILE|RIO DE JANEIRO - ...|              99|             112|
|  APP - MOBILE|SAO PAULO - AV. P...|             104|             108|
|           WEB|CAMPO GRANDE - CE...|             100|              95|
|           WEB|RIO DE JANEIRO - ...|              91|             106|
|           WEB|SAO PAULO - AV. P...|              76|              87|
+--------------+--------------------+----------------+----------------+

Exercício 8 

Liste os setores dos clientes e a soma de suas respectivas receitas para o segundo semestre do ano de 2020. Devem ser exibidas as colunas na ordem e com os nomes especificados a seguir: "SETOR DO CLIENTE", "TOTAL DE RECEITAS". Ordene as linhas exibidas pelo total de receitas em ordem descendente. Liste as primeiras 25 linhas da resposta, sem truncamento das *strings*.

In [64]:
query = """

select 
clienteSetor as `SETOR DO CLIENTE`,
round(sum(receita),2) as `TOTAL DE RECEITAS`
from negociacao as n 
inner join data as d on d.dataPK= n.dataPK and d.dataAno= 2020 and d.dataSemestre = 2
left join cliente as c on c.clientePK = n.clientePK 
group by 1 
"""
spark.sql(query).show()

+-------------------+-----------------+
|   SETOR DO CLIENTE|TOTAL DE RECEITAS|
+-------------------+-----------------+
|BEBIDAS E ALIMENTOS|        5749704.7|
|          VESTUARIO|        2336266.5|
|              SAUDE|        3119775.3|
|            CREDITO|         998789.6|
|         TECNOLOGIA|       2465926.05|
+-------------------+-----------------+

 Exercício 9 

Analise a resposta do Exercício 8 para identificar qual o setor do cliente que obteve o maior total de receitas. Mostre o total de receitas por mês para esse setor do cliente, considerando o segundo semestre do ano de 2020. Devem ser exibidas as colunas na ordem e com os nomes especificados a seguir: "MES", "TOTAL DE RECEITAS". Ordene as linhas exibidas pelo total de receitas em ordem descendente e depois pelo mês em ordem descendente. Liste as primeiras 25 linhas da resposta, sem truncamento das *strings*.

In [67]:
query = """
select
dataMes as MES,
round(sum(receita),2) as `TOTAL DE RECEITAS` 
from negociacao as n 
inner join  data as d on d.dataPK = n.dataPK and d.dataAno= 2020 and d.dataSemestre = 2
inner join cliente as c on c.clientePK = n.clientePK and c.clienteSetor =  'BEBIDAS E ALIMENTOS'
group by 1
order by 2 desc
"""
spark.sql(query).show()

+---+-----------------+
|MES|TOTAL DE RECEITAS|
+---+-----------------+
| 11|        1156403.3|
| 10|        1091389.5|
| 12|         899122.7|
|  9|        877223.55|
|  8|         875934.3|
|  7|        849631.35|
+---+-----------------+

 Exercício 10 

Analise a resposta do Exercício 9 para identificar qual mês gerou o maior total de receitas para o setor de cliente identificado no Exercício 8. Mostre o total de receitas das equipes, considerando o segundo semestre do ano de 2020, o setor de cliente identificado no Exercício 8 e o mês identificado no Exercício 9. Devem ser exibidas as colunas na ordem e com os nomes especificados a seguir: "NOME DA EQUIPE", "NOME DA FILIAL", "TOTAL DE RECEITAS". Ordene as linhas exibidas pelo pelo nome da equipe em ordem ascendente, e depois pelo nome da filial em ordem ascendente. Liste as primeiras 25 linhas da resposta, sem truncamento das *strings*

In [73]:
query = """
select 
e.equipeNome as `NOME DA EQUIPE` ,
filialNome `NOME DA FILIAL` ,
round(sum(receita),2) as `TOTAL DE RECEITAS`  
from negociacao as n 
inner join  data as d on d.dataPK = n.dataPK and d.dataAno= 2020 and d.dataSemestre = 2 and d.dataMes = 11 
inner join cliente as c on c.clientePK = n.clientePK and c.clienteSetor =  'BEBIDAS E ALIMENTOS'
left join equipe as e on e.equipePK = n.equipePK
group by 1,2

order by 1 asc
"""
spark.sql(query).show()

+--------------+--------------------+-----------------+
|NOME DA EQUIPE|      NOME DA FILIAL|TOTAL DE RECEITAS|
+--------------+--------------------+-----------------+
| APP - DESKTOP|SAO PAULO - AV. P...|         129409.4|
| APP - DESKTOP|RIO DE JANEIRO - ...|         35645.65|
|  APP - MOBILE|CAMPO GRANDE - CE...|         48714.45|
|  APP - MOBILE|SAO PAULO - AV. P...|         26571.85|
|  APP - MOBILE|RIO DE JANEIRO - ...|          62138.7|
|BI & ANALYTICS|SAO PAULO - AV. P...|        149490.15|
|BI & ANALYTICS|     RECIFE - CENTRO|        527169.75|
|           WEB|CAMPO GRANDE - CE...|         20042.75|
|           WEB|SAO PAULO - AV. P...|          88624.5|
|           WEB|RIO DE JANEIRO - ...|          68596.1|
+--------------+--------------------+-----------------+