# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III - Avaliação </span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales1000.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales1000.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido no país
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro total

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('sales1000.csv')

### Exercício 1)
Agrupe os elementos da base de dados armazenada no arquivo <font style="font-family: monaco">sales1000.csv</font> de acordo com os países.
Quantos produtos diferentes o país "Portugal" vende?

a) 7<br>
b) 6<br>
c) 5<br>
d) 4

In [93]:
df.shape
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [23]:
#Solucao
df_country = df.groupby(["Country"])

print(type(df_country))
print('\n',df_country.get_group('Portugal')['Sales Channel'].count())
print('\n',df_country.get_group('Portugal')['Sales Channel'])

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

 6

 60      Online
130     Online
302     Online
649     Online
738    Offline
999    Offline
Name: Sales Channel, dtype: object

### Exercício 2)
Considerando todas as vendas de um país, qual o país com o maior lucro total?

a) Cameroon<br>
b) Japan<br>
c) Australia<br>
d) Cuba

In [110]:
# Solucao
print(type(df_country))
country_max_profit = df.groupby(['Country'])['Total Profit'].sum().max()

print(df.groupby(['Country']).filter(lambda x: x['Total Profit'].sum() >= country_max_profit))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
                                Region Country        Item Type Sales Channel  \
85   Central America and the Caribbean    Cuba        Beverages       Offline
127  Central America and the Caribbean    Cuba          Clothes       Offline
233  Central America and the Caribbean    Cuba  Office Supplies       Offline
364  Central America and the Caribbean    Cuba        Household       Offline
427  Central America and the Caribbean    Cuba             Meat        Online
455  Central America and the Caribbean    Cuba    Personal Care        Online
462  Central America and the Caribbean    Cuba        Cosmetics       Offline
581  Central America and the Caribbean    Cuba           Cereal       Offline
582  Central America and the Caribbean    Cuba        Household       Offline
768  Central America and the Caribbean    Cuba  Office Supplies        Online
918  Central America and the Caribbean    Cuba          Clothes       Offline

    Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
85               C    1/9/2011  890695369   2/23/2011        5408       47.45
127              H   2/16/2011  466970717   3/18/2011        5867      109.28
233              H    7/2/2017  256243503   7/23/2017        7002      651.21
364              L    2/2/2013  576654183    2/3/2013        3642      668.27
427              M  10/17/2015  925504004   12/6/2015        6057      421.89
455              L   8/23/2015  928647124   8/30/2015        6176       81.73
462              C   9/18/2015  925264966  10/18/2015        5320      437.20
581              L   3/30/2015  925405299    5/1/2015        6847      205.70
582              H   7/28/2013  714818418   8/24/2013        9509      668.27
768              C  12/22/2014  511349046    1/2/2015        8401      651.21
918              L    4/2/2014  985665738   5/19/2014        9250      109.28

     Unit Cost  Total Revenue  Total Cost  Total Profit
85       31.79      256609.60   171920.32      84689.28
127      35.84      641145.76   210273.28     430872.48
233     524.96     4559772.42  3675769.92     884002.50
364     502.54     2433839.34  1830250.68     603588.66
427     364.69     2555387.73  2208927.33     346460.40
455      56.67      504764.48   349993.92     154770.56
462     263.33     2325904.00  1400915.60     924988.40
581     117.11     1408427.90   801852.17     606575.73
582     502.54     6354579.43  4778652.86    1575926.57
768     524.96     5470815.21  4410188.96    1060626.25
918      35.84     1010840.00   331520.00     679320.00

In [124]:
# Solucao
country_max_profit = df.groupby(['Country'])['Total Profit'].sum().max()

max_profit = df.groupby(['Country']).apply(lambda x: (x['Total Profit'].sum().max()))

print(max_profit)

Country
Afghanistan     1365407.10
Albania         3143068.34
Algeria         2235989.24
Andorra         2143268.87
Angola          4541144.42
                   ...
Vatican City     650282.65
Vietnam         3466171.60
Yemen           3677655.83
Zambia           729935.20
Zimbabwe        1543572.91
Length: 185, dtype: float64

### Exercício 3)
Quantos países vendem exatamente sete produtos distintos? 

a) 9<br>
b) 8<br>
c) 7<br>
d) 6

In [ ]:
#Solucao

### Exercício 4)
Qual o país com a maior diferença entre a maior quantidade e a menor quantidade de produtos vendidos? Por exemplo, 'Tonga' vende os seguintes quantidades de produtos:
```python
Household  8635
Beverages  9367
Meat       9633
Fruits     7124
Meat       3499
```
Portando, a diferença entre a maior e a menor quantidade de produtos vendidos é $$9633-3499=6134$$ Qual o país com a maior diferença?

a) Tonga<br>
b) Cape Verde<br>
c) Romania<br>
d) Cuba

In [ ]:
# Solucao

### Exercício 5)
O lucro de um produto é a diferença entre o preço de venda e o de custo. Qual o produto que fornece o maior lucro médio?

a) Baby Food<br>
b) Fruits<br>
c) Household<br>
d) Cosmetics

In [ ]:
# Solucao